/*全局css样式表*/
html {
	font-size: 16px;
}
html,
body {
	width: 100%;
	height: 100%;
}
body,
h1,
h2,
h3,
h4,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select {
	margin: 0;
	padding: 0;
	font-weight: 500;
}

em {
	font-style: normal;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

img {
	border: none;
	vertical-align: top;
}

table {
	border-collapse: collapse;
}

input,
textarea {
	outline: none;
}

iframe {
	border: none;
}

textarea {
	resize: none;
	overflow: auto;
}

.color {
	// color: #008cee;
	color:#fff;
}
.bgColor {
	background-color: #008cee;
}
.borderColor {
	border: 1px solid #008cee;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.textCenter {
	text-align: center;
}
.textLeft {
	text-align: left;
}
.textRight {
	text-align: right;
}

.verMiddle {
	vertical-align: middle;
}

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}

.boxCenter {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.flexBox {
	display: flex;
}
.flexColBox {
	display: flex;
	flex-direction: column;
}
.flexOne {
	flex: 1;
}

.hidden {
	overflow: hidden;
}
.scroll {
	overflow: auto;
}

.pointer {
	cursor: pointer;
}

.h100 {
	height: 100%;
}

body,
html,
#gmSystem {
	width: 100%;
	height: 100%;
	overflow: auto !important;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
}


.ivu-table-small .ivu-table-cell {
	padding: 0 5px;
}
.ivu-col .ivu-col-span-3 {
	height: 100%;
}
.ivu-menu-light {
	background: darkseagreen;
	color: #fff;
	height: 100%;
}
.ivu-menu-item {
	color:#fff;
}
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu {
	color:#fff;
}

.modalx {
	margin: 0 auto;
    .ivu-modal {
        .ivu-modal-content {
			border-radius: 12px;
			width: 73rem;
            .ivu-modal-header {
                border-radius: 12px 12px 0 0; //              background: #008cee;
                background: linear-gradient(#6bbaec, rgba(5, 123, 247, 0.76) 70%);
                color: #fff;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                .ivu-modal-header-inner {
                    color: #fff;
                    text-align: center;
                }
            }
            .ivu-modal-close {
                i {
                    color: #fff;
                }
            }
            .ivu-modal-body {
                padding-top: 20px;
                height: 560px; //              overflow: auto;
                li {
                    margin: 5px 0;
                    position: relative;
                    padding-left: 40px;
                    .departmentName {
                        position: absolute;
                        left: 0;
                        color: #303030;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.table {
	padding-top:30px;
    margin-bottom: 20px;
    thead {
        th {
            background: #19bcff;
            color: #fff;
        }
    }
    .ivu-table-small th {
        height: 36px !important;
    }
    .ivu-table-small td {
        height: 0.36rem;
    }
}

.ivu-breadcrumb {
	font-size: 20px;
	padding:20px 0 20px 20px;
}

.ivu-collapse {
	color: #fff;
	background: linear-gradient(#6bbaec, rgba(5, 123, 247, 0.76) 70%);
}

.ivu-collapse>.ivu-collapse-item>.ivu-collapse-header {
	color: #fff;
}
